* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
 }

.layout{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;

}

.layout div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

li{
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
}

.link{
  text-decoration: none;
  color: black;
  transition: 0.3s;
  padding: 3px;
  text-transform: uppercase;
}

.link:hover{
  color: grey;

}